
.contSlider
    background: #353535
    padding: 36px 1px
    border-radius: 10px

.mySlides 
    display:none
    margin:auto !important
    max-height: 180px
    min-height: 100%px

.w3-content 
    max-width: 980px
    margin: auto

*:before, *:after 
    box-sizing: inherit

.w3-tooltip, .w3-display-container 
    position: relative

.w3-display-bottommiddle 
    position: absolute
    left: 50%
    /*bottom: 0*/
    transform: translate(-50%,0%)
    -ms-transform: translate(-50%,0%)


.w3-left, .w3-right, .w3-badge 
    cursor:pointer !important

.w3-center 
    text-align: center!important

.w3-badge 
    height: 9px
    width: 9px
    padding: 0

.w3-badge, .w3-tag 
    background-color: #000
    color: #fff
    display: inline-block
    //padding-left: 8px
    //padding-right: 8px
    text-align: center

.w3-white, .w3-hover-white:hover 
    color: #000!important
    background-color: #fff!important

.w3-border 
    border: 1px solid #ccc!important

.w3-badge 
    border-radius: 50%

.w3-right 
    float: right!important

.w3-left 
    float: left!important