@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil')
@import url("../../font/flaticon.css")

.main
    background-color: white

.section
    background-color: whitesmoke

.parallax
    /*the image used*/
    //background-image: url('http://www.dimolgroup.com.ar/uploads/trabajos/large/61ca76283e0a2cff72201d09edb1de1c7347ac44.jpg')
    
    /*Set a specific height */
    min-height: 100%
    /*Create the parallax scrolling effect */
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.pSlides 
    /*the image used */
    background-image: url('http://www.dimolgroup.com.ar/uploads/trabajos/large/61ca76283e0a2cff72201d09edb1de1c7347ac44.jpg')
  
.pEnvios 
    /*the image used */
    background-image: url('../../img/assets/fondoCamionBN.jpg')
    //height: 100px

.pBolsas 
    /*the image used */
    background-image: url('../../img/assets/bolsasBN.jpg')
    //height: 100px

.pContacto 
    /*the image used */
    background-image: url('../../img/assets/contactoBN.jpg')
    height: 100px   
   
.boxTitleSecction
    font-family: 'Allerta Stencil', sans-serif 
    color: #63d0ff
    text-align: center
    padding: 26px 0px

.boxEntregas > img
        box-shadow: -2px 2px 9px -4px black

.bd-special-shadow 
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(transparent)); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent)
    height: 8px
    left: 0
    opacity: 0
    position: absolute
    right: 0
    top: 100%
    -webkit-transform: scaleY(0)
    transform: scaleY(0)
    -webkit-transform-origin: center top
    transform-origin: center top

html.has-navbar-fixed-top
  padding-top: 7.50rem


.navbar.is-fixed-top 
    left: 0
    position: fixed
    right: 0
    z-index: 30
    top: 0px
    transition: transform 0.7s
    //transform: translateY(0px)

.is-center
    text-align: center

.figEnvios
    margin: auto

.contentEnvios
    text-transform: uppercase
    color: white
    background-color: rgba(255, 0, 0, 0.19)
    border-radius: 5px

.prod
    display: inline-block
    padding: 3px
    margin: 5px
    text-transform: capitalize
    text-decoration: blink
    cursor: pointer
    background-color: #e8e3e3
    border-radius: 6px
    font-weight: 600
    &:hover
        background-color: #c7adad
            
.boxInfo
    transition: 0.5s
    box-shadow: 0 0 4px 0px black
    border-radius: 5px
    margin: 0 10px
    color: gray
    background-color: #eaf1f5    
    &:hover
        box-shadow: 0 0 14px 0px #808080
        color: #615f5f

.headerBoxInfo
    .flaticon
        font-size: 5em
        &:before
            font-size: 1em
    .is-divider
        margin: 1rem 0

.bodyBoxInfo
    font-size: 1.3em
    text-align: center
    text-transform: uppercase

.copyright
    font-size: 0.6em